html{
	height: 100%;
}
body{	
	background: linear-gradient(90deg, hsl(0,75%,10%), hsl(90,75%,10%), hsl(180,75%,10%), hsl(270,75%,10%), hsl(360,75%,10%));
	font-family: 'Port Lligat Sans', sans-serif;
	color: #F0F3FA;
}

*:focus{
	outline: none;
}

h1{
	text-align: center;
}

.hidden{
	display: none !important;
}

#color-picker-container{
	width: 800px;
	height: 400px;
	display: grid;
	grid-template-columns: [controls] 75% [output] 40%;
	grid-template-rows: 45px auto auto auto 160px;
	grid-gap: 0px;
	background: none;
	align-items: top;
	margin: 0 auto;
	padding: 1em;
}

.color-picker, #alpha{
	display: grid;
	grid-template-columns: [labels] 100px [sliders] 1fr [values] 100px;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: .4em;	
	grid-column: controls;
	background: none;
}

#alpha{
	margin-top: .4em;
	margin-bottom: 0px;
	grid-template-rows: auto;
}

.color-picker > label, #alpha > label{
	grid-column: labels;
	grid-row: auto;	
}	

.color-picker > .slider, #alpha > .slider{
	grid-column: sliders;
	grid-row: auto;
}

.color-picker > .input-value, #alpha > .input-value{
	grid-column: values;
	grid-row: auto;	
	margin: 0px auto;	
	padding: 0px;	
}

.color-picker > .input-value > p{
	display: inline;
}

#color-values{
	grid-column: controls;
	background: none;
	padding: 2em;
}

#model-select{
	grid-column: controls;
	grid-row: auto;
	width: 70px;
	height: 30px;
	padding: .2em;	
	
	/*Decoration*/	
	font-family: 'Port Lligat Sans', sans-serif;
	color: #F0F3FA;	
	background: #333333;
	border: none;
	font-size: inherit;
}

#model-select > option{
	font-family: 'Port Lligat Sans', sans-serif;
	color: #F0F3FA;	
	background: #333333;
	font-size: inherit;	
}

#hex-value, #rgb-value, #hsl-value{
	grid-column: span 3;
	text-align: center;
	margin: 5px 0px 0px 0px;
	
}

#saved-colors{
	display: grid;
	grid-template-columns: repeat(5, 100px);
	grid-template-rows: [title] auto [colors] 100px [values] auto;
	grid-gap: 20px;
}

#saved-colors div{
	grid-row: colors;	
}

#saved-colors p{
	grid-row: title;
	margin: 0px;
}

#saved-colors .clr-val{
	grid-row: values;
}


#color-output-container{
	width: 100%;
	height: 100%;
	margin: 0px;
	position: relative;	
	grid-column: output;
	grid-row-start: 1;
	grid-row-end: span 5;
	
}

#color-output{
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	z-index: 1;
}

.btn{
	-webkit-transition: all 0.5s;
	cursor: default;
	z-index: 2;	
}

.btn > i{
	-webkit-transition: all 0.5s;
	color: hsla(0, 0%, 100%, 0.5);
}

.btn > i:hover{
	color: hsla(0, 0%, 100%, 1);
}

#save-btn{
	position: absolute;
	top: 175px;
	left: 135px;
	width: 50px;
	height: 50px;
	background-color: hsla(0, 0%, 20%, 1);
}

#save-btn > i
{
	font-size: 40px;
	margin-top: 5px;
	margin-left: 5px;
}

.saved-clr-container{
	position: relative;
}

.saved-clr{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.options{
	position: absolute;
	top: 0px;
	left: -20px;
	padding: 0px;
	width: 20px;
	height: auto;	
}

.close-btn, .edit-btn{
	padding: 0px;
}

.close-btn > i, .edit-btn > i{
	font-size: 20px;
}

.clr-val{		
	text-align: center;	
}


.alpha-sample{
	z-index: 0;
	width: 100%;
	height: 100%;
}

.slider{
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 15px;
	background: #ddd;
}

.slider::-webkit-slider-thumb {
  width: 7.5px;
  height: 22px;
  -webkit-appearance: none;
  background: hsla(0,0%,20%,0.5);
  cursor: pointer;
}









